html
{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.lieu
{
    padding-top:5px;
}
.rechercher
{
    font-size: 21px;
}
.logo
{
    position: relative;
    right:40px;
}
#inscrire
{
    position: relative;
    right:100px;
    top:20px;
}
#navheber
{
    position: relative;
    top:55px;
    right:250px;
}
#navactivites
{
    position: relative;
    top:55px;
    right:100px;
}
.filtre
{
    width:300px;
}
.filtres
{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.filtres
{
    margin-right: 125px;
    height:35px;
    width:200px;
}
#argent
{
    position: relative;
    right:10px;

}

.grille
{
    display:grid;
    grid-template-columns: 100%;
}
.grille
{
    display:flex;
    flex-wrap: wrap-reverse;
}
.grillehebergement
{
    display:grid;
    grid-template-columns: 100%;
    grid-row-gap: 5px;
}
.grillehebergement
{
    background-color: white;
}
.grillehebergement img
{
    width:300px;
}
.grillehebergement figcaption
{
    margin-left: 5px;
}
.grillehebergement div
{
    box-shadow: 0px 15px 10px 3px #F2F2F2;
    border-radius: 15px;
}
.droite
{
    width:360px;
}
.droite img
{
    width:200px;
    height:120px;
}
.droite figcaption
{
    height:120px;
    width:150px;
    font-size: 0.9em;
}
.dumatin
{
    height:130px;
    width:358px;
}
.deleau
{
    height:130px;
    width:358px;
}
.etblanc
{
    height:130px;
    width:358px;
}
.droite div.rating
{
    width:70px;
    height:50px;
} 
.emile
{
    width:100px;
}

.heber
{
    position: relative;
    top:610px;
}
.heber
{
    width:200px;
}
.populaires
{
    position:relative;
    bottom:2000px;
    left:60px;
}
.marseille
{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    grid-row-gap: 20px;
    height:1750px;
}
.marseille img
{
    width:353px;
    height:200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    right:3px;
    bottom:5px;
}
.style
{
    color:black;
    margin-left: 5px;
}
.vieuxport
{
    height:260px;
    width:354px;
}
.vieuxport
{
    box-shadow: 0px 5px 10px 0px #F2F2F2;
    border-radius: 15px;
}
.fortdepomegues
{
    height:260px;
    width:354px;
}
.fortdepomegues
{
    box-shadow: 0px 15px 10px 0px #F2F2F2;
    border-radius: 15px;
}
.iledufrioul
{
    height:260px;
    width:354px;
}
.iledufrioul
{
    box-shadow: 0px 15px 10px 0px #F2F2F2;
    border-radius: 15px;
}
.parcnational
{
    height:260px;
    width:354px;
}
.parcnational
{
    box-shadow: 0px 15px 10px 0px #F2F2F2;
    border-radius: 15px;
}
.notredame
{
    height:260px;
    width:354px;
}
.notredame
{
    box-shadow: 0px 15px 10px 0px #F2F2F2;
    border-radius: 15px;
}
.parclongchamp
{
    height:260px;
    width:354px;
}
.parclongchamp
{
    box-shadow: 0px 15px 10px 0px #F2F2F2;
    border-radius: 15px;
}
.footer
{
    display:grid;
    grid-template-columns: 100%;
}
.footer
{
    grid-column: 30%;
}
.footer
{
    font-size: 20px;
    width:333px;
}
.nosheber
{
    margin-bottom:20px;
}
.propos
{
    margin-bottom: 20px;
}